{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  {apps, [loki_xml]}
]}.

{plugins, [
    {rebar3_hex, "7.0.6"}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, "0.9.2"}
        ]}
    ]}
]}.


{hex, [
    {description, "Effortless XML parsing for Erlang, simple, fast, and neat."},
    {licenses, ["Apache-2.0"]},
    {links, [
        {"GitHub", "https://github.com/roquess/loki_xml"},
        {"Hex.pm", "https://hex.pm/packages/loki_xml"}
    ]},
    {maintainers, ["Steve Roques<steve.roques@gmail.com>"]},
    {doc, #{provider => edoc}}
]}.
